# Annual Occupancy Rates for Hotels and Similar in Europe from 2012

Net occupancy rate of bed-places and bedrooms in hotels and similar accommodation (NACE Rev. 2, I, 55.1) by size class (from 2012 onward) (tour_occ_anor)

Dataset obtained from: https://ec.europa.eu/eurostat/web/tourism/data/database
Date: 28.08.2020

## Import necessary modules and initialise

In [1]:
import pandas as pd
import numpy as np

## Import dataset and take first look

In [2]:
dataset = pd.read_csv('tour_occ_anor.tsv', sep='\t')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   accommod,unit,hotelsize,geo\time  288 non-null    object
 1   2019                              288 non-null    object
 2   2018                              288 non-null    object
 3   2017                              288 non-null    object
 4   2016                              288 non-null    object
 5   2015                              288 non-null    object
 6   2014                              288 non-null    object
 7   2013                              288 non-null    object
 8   2012                              288 non-null    object
dtypes: object(9)
memory usage: 20.4+ KB

In [4]:
dataset.head()

,"accommod,unit,hotelsize,geo\time",2019,2018,2017,2016,2015,2014,2013,2012
0,"BEDPL,PC,100-249,BG",38.9,39.4,38.6,38.5,33.7,33.5,34.7,32.2
1,"BEDPL,PC,100-249,CY",80.8,83.2,87.2,80.5,70,69.7,:,:
2,"BEDPL,PC,100-249,CZ",58.5,56.8,57.6,56,49.9,49.9,48.5,48.6
3,"BEDPL,PC,100-249,DE",52.36,52.17,51.91,51.16,51.08,50.3,49.1,48.2
4,"BEDPL,PC,100-249,EA",58.85,:,:,:,:,:,:,:

## Clean dataset

### Separate the 'accommod,unit,hotelsize,geo\time' column into new individual columns for each category

In [5]:
dataset['Split'] = dataset['accommod,unit,hotelsize,geo\\time'].str.split('\,')
dataset[['Accommodation', 'Unit', 'HotelSize', 'GeoTime']] = pd.DataFrame(dataset.Split.tolist())
dataset = dataset.drop(['accommod,unit,hotelsize,geo\\time', 'Split'], axis=1)

In [6]:
dataset.head()

,2019,2018,2017,2016,2015,2014,2013,2012,Accommodation,Unit,HotelSize,GeoTime
0,38.9,39.4,38.6,38.5,33.7,33.5,34.7,32.2,BEDPL,PC,100-249,BG
1,80.8,83.2,87.2,80.5,70,69.7,:,:,BEDPL,PC,100-249,CY
2,58.5,56.8,57.6,56,49.9,49.9,48.5,48.6,BEDPL,PC,100-249,CZ
3,52.36,52.17,51.91,51.16,51.08,50.3,49.1,48.2,BEDPL,PC,100-249,DE
4,58.85,:,:,:,:,:,:,:,BEDPL,PC,100-249,EA

### Remove extra space at end of year column labels

In [7]:
dataset.columns

Index(['2019 ', '2018 ', '2017 ', '2016 ', '2015 ', '2014 ', '2013 ', '2012 ',
       'Accommodation', 'Unit', 'HotelSize', 'GeoTime'],
      dtype='object')

In [8]:
dataset.rename(columns={'2019 ':'2019', '2018 ':'2018', '2017 ':'2017', '2016 ':'2016', '2015 ':'2015'
                        , '2014 ':'2014', '2013 ':'2013', '2012 ':'2012'}, inplace=True, errors='raise')

In [9]:
dataset.head()

,2019,2018,2017,2016,2015,2014,2013,2012,Accommodation,Unit,HotelSize,GeoTime
0,38.9,39.4,38.6,38.5,33.7,33.5,34.7,32.2,BEDPL,PC,100-249,BG
1,80.8,83.2,87.2,80.5,70,69.7,:,:,BEDPL,PC,100-249,CY
2,58.5,56.8,57.6,56,49.9,49.9,48.5,48.6,BEDPL,PC,100-249,CZ
3,52.36,52.17,51.91,51.16,51.08,50.3,49.1,48.2,BEDPL,PC,100-249,DE
4,58.85,:,:,:,:,:,:,:,BEDPL,PC,100-249,EA

### Remove extra space at end of year column entries

In [10]:
temp = dataset[['2019','2018', '2017', '2016', '2015', '2014', '2013', '2012']].apply(lambda x:x.str.strip())
dataset[['2019','2018', '2017', '2016', '2015', '2014', '2013', '2012']] = temp[['2019',
                                '2018', '2017', '2016', '2015', '2014', '2013', '2012']]

### Replace non-numerical values in the year columns with NaN

In [11]:
def toFloat(stringEntry):
    try:
        return float(stringEntry)
    except ValueError:
        return np.nan
    
temp = dataset[['2019','2018', '2017', '2016', '2015', '2014', '2013', '2012']].apply(np.vectorize(toFloat))
dataset[['2019','2018', '2017', '2016', '2015', '2014', '2013', '2012']] = temp[['2019',
                                '2018', '2017', '2016', '2015', '2014', '2013', '2012']]

### Look at the improved dataset

In [12]:
dataset.head()

,2019,2018,2017,2016,2015,2014,2013,2012,Accommodation,Unit,HotelSize,GeoTime
0,38.90,39.40,38.60,38.50,33.70,33.5,34.7,32.2,BEDPL,PC,100-249,BG
1,80.80,83.20,87.20,80.50,70.00,69.7,NaN,NaN,BEDPL,PC,100-249,CY
2,58.50,56.80,57.60,56.00,49.90,49.9,48.5,48.6,BEDPL,PC,100-249,CZ
3,52.36,52.17,51.91,51.16,51.08,50.3,49.1,48.2,BEDPL,PC,100-249,DE
4,58.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BEDPL,PC,100-249,EA

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   2019           219 non-null    float64
 1   2018           183 non-null    float64
 2   2017           187 non-null    float64
 3   2016           217 non-null    float64
 4   2015           215 non-null    float64
 5   2014           216 non-null    float64
 6   2013           212 non-null    float64
 7   2012           193 non-null    float64
 8   Accommodation  288 non-null    object
 9   Unit           288 non-null    object
 10  HotelSize      288 non-null    object
 11  GeoTime        288 non-null    object
dtypes: float64(8), object(4)
memory usage: 27.1+ KB

### Get a feel for the datat

In [16]:
dataset['Accommodation'].value_counts()

BEDPL    145
BEDRM    143
Name: Accommodation, dtype: int64